/*
* SETTINGS
* Font's and colors
*/

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../font/Poppins-Regular.ttf) format('ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../../font/Poppins-Medium.ttf) format('ttf');
    font-weight: 500;
}

$colorPrimaryLight: #C7F03D; //Lime Green
$colorPrimaryDark: #022C2E; //Dark Green
$colorSecondaryOne: #6ED4B7; //Jade
$colorSecondaryTwo: #8A59FF; //Violet
$colorSecondaryThree: #F14D54; //Red
$colorSecondaryFour: #FFBF65; //Orange
$colorSupportingBlack: #1C1C1C; //black
$colorSupportingGreyDark:#6F7783; //dark grey
$colorSupportingGreyLight:#E6EBEB; //light grey
$colorSupportingGreenLight: #F4FCD8; //light jade
$colorSupportingWhite: #FFFFFF; //white

$gradientLimeToDark: linear-gradient(95deg, rgba(199, 240, 61, 1) 0%, rgba(2, 51, 53, 1) 100%);
$gradientWhiteToDark: linear-gradient(95deg, rgba(255, 255, 255, 1) 0%, rgba(2, 51, 53, 1) 100%);

$colorFontsDark: $colorPrimaryDark;
$colorFontsLight: $colorSupportingGreyDark;
$colorShadow: #fff;

$fontMain: 'Poppins',
    sans-serif;
$fontSecondary: 'ivypresto-display',
    sans-serif;

$screenSizeLarge: 1920px;
$screenSizeStandard: 1440px;
$screenSizeSmall: 1000px;
$mobileFormatBig: 600px;
$mobileFormatSmall: 375px;

$globalPaddingX: 40px;