div.about-banner__container.alignfull {
    margin-top: -204px;
    padding-top: 305px;
    padding-bottom: 180px;
}
@media screen and (max-width: $mobileFormatBig) {
div.about-banner__container.alignfull {
    padding-bottom: 100px;
}
}