.basic {
    margin-top: 100px;
    margin-bottom: 60px;
}

.basic__container {
    max-width: 668px;
    margin: auto;
}
.basic__title {
    margin-bottom: 20px;
}
.basic__text {
    padding: 0 35px;
    margin-bottom: 30px;
}

@media screen and (max-width: $mobileFormatBig) {
    .basic__text {
        padding: 0px;
        margin-bottom: 14px;
    }
}