.border-box {
    border: 1px solid $colorSupportingBlack;
    padding: 80px 20px;

}
.border-box--inverted {
    background-color: $colorSupportingBlack;
    color: $colorSupportingWhite;
}
.border-box--inverted .value__percentage {
    background-image: url('../assets/arrow-up-white.svg')!important;
}
