.gb-block-button {
    margin: 0;
}

button.button,
a.gb-button {
    -webkit-appearance: none;
    background: $colorPrimaryDark;
    background-image: url('../assets/right-chevron.svg');
    background-position: right calc(50% - 40px) center;
    background-repeat: no-repeat;
    font-family: $fontMain;
    font-size: 1rem;
    font-weight: 500;
    padding: 1px 30px 2px 15px;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    background-color: $colorPrimaryDark;
    color: $colorPrimaryLight;
    border: solid 1px $colorPrimaryLight;
}

button.button:hover a.gb-button:hover {
    background: $colorPrimaryDark;
    background-image: url('../assets/right-chevron-dark.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    font-size: 1rem;
    font-weight: 500;
    padding: 1px 30px 2px 15px;
    transition: 0.2s ease-in-out;
    border-radius: 50px;
    background-color: $colorPrimaryLight;
    color: $colorPrimaryDark;
    border: solid 1px $colorPrimaryDark;
}

a.gb-button {
    padding: 6px 30px 6px 15px;
}

.gb-block-button.button--outline>.gb-button {
    background-color: transparent;
}

.gb-block-button.button--dark-green>.gb-button {
    color: $colorPrimaryDark;
}

.gb-block-button.button--outline a {
    background-position: right 10px center;
    text-decoration: none;
    background-color: transparent !important;
}

.gb-block-button.button--outline.button--dark-green a {
    border-color: $colorPrimaryDark;
    background-color: transparent !important;
    color: $colorPrimaryDark !important;
    background-image: url('../assets/right-chevron-dark.svg');
}

.gb-block-button.button--outline.button--dark-green a.gb-button:hover {
    background-color: $colorPrimaryDark !important;
    color: $colorSupportingWhite !important;
    background-image: url('../assets/right-chevron.svg');
}

.gb-block-button.button--twitter a.gb-button {
    background-image: url('../assets/twitter.svg');
}

.gb-block-button.button--twitter:hover a.gb-button {
    background-image: url('../assets/twitter-light-green.svg') !important;
}

button.button--clean {
    background-image: none;
    padding: 1px 15px 2px;
}

button.button--clean:hover {
    background-image: none;
    padding: 1px 15px 2px;
}

button.button--light {
    background-color: $colorPrimaryLight;
    color: $colorPrimaryDark;
}

button.button--light:hover {
    background-color: $colorPrimaryDark;
    color: $colorSupportingWhite;
}

.has-white-borders a {
    border-color: $colorSupportingWhite !important;
    background-image: url('../assets/right-chevron-white.svg');
}

.has-white-borders a.gb-button:hover {
    border-color: $colorSupportingWhite !important;
    background-color: $colorSupportingWhite !important;
    color: $colorFontsDark !important;
    background-image: url('../assets/right-chevron-dark.svg');
}

@media screen and (max-width: $mobileFormatBig) {
    .mob-button-full-width--97>.gb-button {
            width: 100%;
            background-position: right calc(50% + -97px) center !important;
        }
    .mob-button-full-width--82>.gb-button {
        width: 100%;
        background-position: right calc(50% + -82px) center !important;
    }
   .mob-button-full-width--62>.gb-button {
       width: 100%;
       background-position: right calc(50% + -62px) center !important;
   }
    .mob-button-full-width--52>.gb-button {
        width: 100%;
        background-position: right calc(50% + -52px) center !important;
    }
    .mob-button-full-width--35>.gb-button {
        width: 100%;
        background-position: right calc(50% + -35px) center !important;
    }
}

//page specific styles
.page-id-1735 button.navbar__contact {
    background-color: $colorPrimaryDark;
    color: $colorSupportingWhite;
    border: $colorPrimaryDark;
}