.client-slider {
    margin-top: 66px;
}
.client-slider__logo {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}
.client-slider__logo img {
    max-height: 74px;
    width: auto;
}
.client-slider__text {
    max-width: 75%;
}