.col-px-40>.gb-block-layout-column-inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.col-px-120>.gb-block-layout-column-inner {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: $mobileFormatBig) {
    .col-px-120>.gb-block-layout-column-inner {
        padding-top: 74px;
        padding-bottom: 74px;
    }
}
.col-fullwidth--right {
    width: calc(100% + 40px);
}
.col-fullwidth--left {
    margin-left: -40px;
}
@media screen and (max-width: $mobileFormatBig) {
    .col-fullwidth--right {
        width: 100%;
    }

    .col-fullwidth--left {
        margin-left: 0;
    }
}
.col-gap-40>.gb-block-layout-column-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;

}

.col-with-image-bg>.gb-block-layout-column-inner {
    min-height: 576px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: center;
}
@media screen and (max-width: $mobileFormatBig) {
    .col-with-image-bg>.gb-block-layout-column-inner {
        min-height: 488px;
    }
}
.col-with-image-bg__text {
    max-width: 139px;
}