.col-px-40>.gb-block-layout-column-inner {
    padding-top: 40px;
    padding-bottom: 40px;
}

.col-px-120>.gb-block-layout-column-inner {
    padding-top: 120px;
    padding-bottom: 120px;
}

@media screen and (max-width: $mobileFormatBig) {
    .col-px-120>.gb-block-layout-column-inner {
        padding-top: 74px;
        padding-bottom: 74px;
    }
}
.col-fullwidth--right {
    width: calc(100% + 40px);
}
.col-fullwidth--left {
    margin-left: -40px;
}
.col--banner {
    margin-top: -117.5px;
}
@media screen and (max-width: $mobileFormatBig) {
    .col-fullwidth--right {
        width: 100%;
    }

    .col-fullwidth--left {
        margin-left: 0;
    }
}
.col-gap-40>.gb-block-layout-column-inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-content: center;

}

.col-with-image-bg>.gb-block-layout-column-inner {
    min-height: 576px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-position: center;
}
@media screen and (max-width: $mobileFormatBig) {
    .col-with-image-bg>.gb-block-layout-column-inner {
        min-height: 488px;
    }
}
.col-with-image-bg__text {
    max-width: 139px;
}

.row-3-col>.gb-layout-column-wrap{
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: "col1 . col2 . col3";
}
.col-5-col-3>.gb-layout-column-wrap {
    grid-template-columns: 5fr 3fr;
}
.col-3-col-5>.gb-layout-column-wrap {
    grid-template-columns: 3fr 5fr;
}
.col-2-col-1-col-2-col-1-col-2col-1>.gb-layout-column-wrap {
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr 1fr;
    grid-template-areas: "col1 . col2 . col3";
}
.col-1-col-6-col-1>.gb-layout-column-wrap {
    grid-template-columns: 1fr 6fr 1fr;
}
.col-4-col-1-col-3>.gb-layout-column-wrap {
    grid-template-columns: 4fr 1fr 3fr;
}