.container {
    max-width: $screenSizeLarge;
    padding: 0 40px;
}
.site-content {
    padding: 0;
}
#primary {
    width: 100%;
    max-width: 100%;
}
.alignwide {
    width: 100%;
    margin-left: auto;
    margin-bottom: 0;
}
.alignfull {
    padding: 0 40px;
}
.wp-block-image {
    margin: 0;
}
@media screen and (max-width: $screenSizeSmall) {
 
}
