.cta {
    padding: 32px 90px 32px 32px;
    background: $colorSupportingGreenLight;
    width: 43.5vw;
    max-width: 628px;
    margin-bottom: 0;
    background-image: url('../assets/right-chevron-dark.svg');
    background-position: right 40px center;
    background-repeat: no-repeat;
    color: $colorFontsDark;
    position: absolute;
    bottom: 24px;
    left: 10vw;
}

.cta--left {
    left: -8vw;
}

@media screen and (max-width: $screenSizeSmall) {
    .cta {
        width: 80vw;
    }

    .cta--left {
        left: -42vw;
    }
}

.cta--bottom-left {
    left: 20px;
    bottom: 20px;
}

.cta--bottom-3-5 {
    left: 38.9%;
}

@media screen and (max-width: $screenSizeSmall) {
    .cta--bottom-3-5 {
        left: 20px;
    }
}

.cta__container {
    border-right: 1px solid $colorSupportingWhiteWithOpacity;
    padding-right: 22px;
}

.cta__title {
    @include global-small;
    color: $colorFontsDark;
    margin-bottom: 12px;
}

.cta__text {
    @include h4;
    color: $colorFontsDark;
    max-width: 464px;
}

.cta--dark {
    background: $colorPrimaryDark;
    color: $colorSupportingWhite;
    background-image: url('../assets/arrow-right-white.svg');
    background-repeat: no-repeat;
    background-position: right 40px center;
}

.cta.download {
    background-image: url('../assets/download.svg');
}

.cta.download {
    padding-right: 105px;
}

@media screen and (max-width: $mobileFormatBig) {
    .cta.download {
        padding-right: 79px;
        background-position: right 26px center;
    }
}

.cta--dark .cta__title {
    color: $colorSupportingWhite;
    @include global-title;
}

.cta--dark .cta__text {
    color: $colorSupportingWhite;
    @include global-body;
}

.cta.red {
    background-color: $colorSecondaryThree;
    color: $colorSupportingWhite;
}
@media screen and (max-width: $mobileFormatBig) {
.cta.red {
position: relative;
}
}
.cta.red::after {
    width: 1px;
    height: 80%;

}

.cta.red .cta__text {
    color: $colorSupportingWhite;
}

.cta.red .cta__title {
    color: $colorSupportingWhite;
}

@media screen and (max-width: $mobileFormatBig) {
    .cta {
        padding: 32px 90px 32px 20px;
        width: 100vw;
        left: -20px;
        bottom: 0;
    }

    .cta__text {
        max-width: 252px;
        @include h4-mob;
    }

    .cta::after {
        height: 124px;
        right: 79px;
        margin-top: -114px;
    }
}