.equals-sign__container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -342px;
    z-index: 1;
}

.equals-sign {
    width: 185px;
    height: 42px;
    background-color: $colorPrimaryLight;
}

.equals-sign--above {
    margin-bottom: 28.27px;
}

.equals-sign--below {}