.filter-bar__container {
    width: 100vw;
    margin-left: -40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: $mobileFormatBig) {
    .filter-bar__container {
        grid-template-columns: 1fr;
    }
}

.filter-bar__col {
    border: 1px solid $colorSupportingGreyLight;
    padding: 0 40px;
}

.filter-bar__col--search {
    padding-left: 76px;
    background-image: url('../assets/search.svg');
    background-position: left 40px center;
    background-repeat: no-repeat;
}

@media screen and (max-width: $mobileFormatBig) {
    .filter-bar__col--search {
        width: calc(100vw + 20px);
    }
}

input.filter-bar__input {
    padding: 0;
    line-height: 80px;
}

.filter-link,
.filter-link:active,
.filter-link:focus,
.filter-link:visited {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $colorSupportingWhite;
    color: $colorPrimaryDark;
    align-items: center;
    padding-right: 0;
    box-shadow: none;
}

.filter-link:hover {
    color: $colorPrimaryDark;
}

.filter-link__title {
    margin-bottom: 0;
}

.filter-link__icon {
    height: 80px;
    width: 80px;
    background-image: url('../assets/filter.svg');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid $colorSupportingGreyLight;
}

.filter-link.active .filter-link__icon {
    background: $colorPrimaryDark url('../assets/filter-green.svg') no-repeat center center;
}

.filters__container {
    display: none;
    width: 100vw;
    margin-left: -40px;
    background: $colorSupportingWhite;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.filters__container.active {
    display: grid;
    grid-template-columns: 34fr 37fr 29fr;
}

.filters__col {
    padding: 30px 40px;
}

.filter__input input[type="checkbox"] {
    display: none;
}

.filter__text {
    border: 1px solid $colorPrimaryDark;
    border-radius: 30px;
    padding: 3px 12px;
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 12px;
    color: $colorFontsDark;
}

input[type="checkbox"]:checked+span {
    background-color: $colorPrimaryDark;
    color: $colorSupportingWhite;
}

.sorting-dropdown__section {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sorting-dropdown__container {
    width: 325px;
    border: 1px solid $colorSupportingGreyLight;
    padding: 0;
    @include global-body;
}

.sorting-dropdown {
    padding: 30px 20px 8px 20px;
    @include global-cta;
    color: $colorPrimaryDark;
    background-image: url('../assets/arrow-small-down.svg');
    background-position: right 25px center;
    background-repeat: no-repeat;
}

.sorting-dropdown__label::after {
    content: "";
    height: 60px;
    border-left: 1px solid $colorSupportingGreyLight;
    position: absolute;
    margin-left: 191px;
    margin-top: -8px;
}

.sorting-dropdown__icon {
    border-left: 1px solid $colorSupportingGreyLight;
}

.sorting-dropdown__label {
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
}

.post__item {
    margin-bottom: 0;
    list-style: none;
}

.filtered-posts {
    padding-top: 60px;
    padding-bottom: 100px;
    display: grid;
    gap: 60px 62px;
    width: 100%;
}

.filtered-posts--tapacode_case-study {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "areaA areaA areaA"
        "areaB areaB areaC"
        "areaD areaE areaE"
        "areaF areaG areaH";
}

@media screen and (max-width: $mobileFormatBig) {
    .filtered-posts--tapacode_case-study {
        grid-template-columns: 1fr;

        grid-template-areas: "areaA"
            "areaB"
            "areaC"
            "areaD"
            "areaE"
            "areaF"
            "areaG"
            "areaH";
    }
}

.filtered-posts--post {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "areaA areaA"
        "areaB areaC"
        "areaD areaE"
        "areaF areaG";
}

.filtered-posts--post .post__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    display: inline-grid;
}

.filtered-posts--tapacode_case-study {
    .post__item:nth-child(1) {
        grid-area: areaA;
    }

    .post__item:nth-child(2) {
        grid-area: areaB;
    }

    .post__item:nth-child(3) {
        grid-area: areaC;

    }

    .post__item:nth-child(4) {
        grid-area: areaD;
    }

    .post__item:nth-child(5) {
        grid-area: areaE;
    }

    .post__item:nth-child(6) {
        grid-area: areaF;
    }

    .post__item:nth-child(7) {
        grid-area: areaG;
    }

    .post__item:nth-child(8) {
        grid-area: areaH;
    }
}

@media screen and (max-width: $mobileFormatBig) {
    .filtered-posts--post {
        display: flex;
        flex-wrap: wrap;
    }
}

.post__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__img {
    height: 580px;
    overflow: hidden;
    margin-bottom: 24px;
}
@media screen and (max-width: $mobileFormatBig) {
.post__img {
    height: 400px;
}
}
.post__title {
    @include global-title;
    color: $colorFontsDark;
    margin-bottom: 1rem;
}

a:hover>.post__title {
    text-decoration: none;
}

.post__excerpt {
    max-width: 325px;
    @include global-body;
    color: $colorFontsLight;
    margin-bottom: 0;
}

a:hover>.post__excerpt {
    text-decoration: none;
}