.filter-bar__container {
    width: 100vw;
    margin-left: -40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter-bar__col {
    border: 1px solid $colorSupportingGreyLight;
    padding: 0 40px;
}

.filter-bar__col--search {
    padding-left: 76px;
    background-image: url('../assets/search.svg');
    background-position: left 40px center;
    background-repeat: no-repeat;
}

input.filter-bar__input {
    padding: 0;
    line-height: 80px;
}

.filter-link,
.filter-link:active,
.filter-link:focus,
.filter-link:visited {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $colorSupportingWhite;
    color: $colorPrimaryDark;
    align-items: center;
    padding-right: 0;
    box-shadow: none;
}

.filter-link:hover {
    color: $colorPrimaryDark;
}

.filter-link__title {
    margin-bottom: 0;
}

.filter-link__icon {
    height: 80px;
    width: 80px;
    background-image: url('../assets/filter.svg');
    background-position: center center;
    background-repeat: no-repeat;
    border-left: 1px solid $colorSupportingGreyLight;
}

.filter-link.active .filter-link__icon {
    background: $colorPrimaryDark url('../assets/filter-green.svg') no-repeat center center;
}

.filters__container {
    display: none;
    width: 100vw;
    margin-left: -40px;
    background: $colorSupportingWhite;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.filters__container.active {
    display: grid;
    grid-template-columns: 34fr 37fr 29fr;
}

.filters__col {
    padding: 30px 40px;
}

.filter__input input[type="checkbox"] {
    display: none;
}

.filter__text {
    border: 1px solid $colorPrimaryDark;
    border-radius: 30px;
    padding: 3px 12px;
    display: inline-block;
    margin-bottom: 12px;
    margin-right: 12px;
    color: $colorFontsDark;
}

input[type="checkbox"]:checked+span {
    background-color: $colorPrimaryDark;
    color: $colorSupportingWhite;
}

.sorting-dropdown__section {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sorting-dropdown__container {
    width: 325px;
    border: 1px solid $colorSupportingGreyLight;
    padding: 0;
    @include global-body;
}

.sorting-dropdown {
    padding: 30px 20px 8px 20px;
    @include global-cta;
    color: $colorPrimaryDark;
    background-image: url('../assets/arrow-small-down.svg');
    background-position: right 25px center;
    background-repeat: no-repeat;
}

.sorting-dropdown__label::after {
    content: "";
    height: 60px;
    border-left: 1px solid $colorSupportingGreyLight;
    position: absolute;
    margin-left: 191px;
    margin-top: -8px;
}

.sorting-dropdown__icon {
    border-left: 1px solid $colorSupportingGreyLight;
}

.sorting-dropdown__label {
    position: absolute;
    margin-left: 20px;
    margin-top: 8px;
}