.floating-menu__section {
    overflow: revert;
}

.floating-menu__section>.gb-layout-column-wrap {
    grid-template-columns: 1fr 4fr 1fr 2fr;
}

.floating-nav {
    z-index: 200;
    position: relative;
    margin-top: -180px;
}

@media screen and (max-width: $mobileFormatBig) {
    .floating-nav {
        margin-top: -200px;
    }
}

.floating-nav {
    gap: 0;
}

.floating-menu__item {
    width: 100%;
    border-bottom: 1px $colorSupportingGreyLight solid;
    background-color: $colorSupportingWhite;
    background-image: url('../assets/arrow-down.svg');
    background-position: right 32px center;
    background-repeat: no-repeat;
}

p.floating-menu__item>a {
    text-decoration: none;
    box-shadow: none;
    @include global-cta;
    color: $colorFontsDark;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 29px 40px;
}

p.floating-menu__item>a:hover {
    text-decoration: none;
    box-shadow: none;
    @include global-cta;
}

.floating-menu__item:hover {
    background-color: $colorPrimaryDark;
    background-image: url('../assets/arrow-right-white.svg');
    border: 1px solid $colorSupportingWhite;
}

.violet .floating-menu__item:hover {
    background-color: $colorSecondaryTwo;
}

.floating-menu__item:hover.floating-menu__item>a {
    color: $colorSupportingWhite;
}