.fullscreen-slider {
    padding: 0;
    position: absolute;
    top: -220px;

}

.fullscreen-slider__img {
    width: 100vw;
    height: 1040px;
}

.fullscreen-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fullscreen-slider__title {
    color: $colorSupportingWhite;
    text-align: center;
    margin: -272px auto 24px;
    max-width: 976px;
}

.fullscreen-slider__text {
    color: $colorSupportingWhite;
    text-align: center;
    margin-bottom: 100px;
}

.slider-spacer {
    height: 728px;
}

.entry-content .js-fullscreen-slider__indicators {
    width: 100vw;
    margin-left: -40px;
    padding: 0 34px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.js-fullscreen-slider__indicators li::marker {
    content: "";
}

.js-fullscreen-slider__indicators li,
.js-fullscreen-slider__indicators button {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    min-height: 220px;
    border: 1px $colorSupportingGreyLight solid;
    border-left: none;
    color: $colorFontsDark;
    @include global-title;
    background-color: $colorSupportingWhite;
}
.js-fullscreen-slider__indicators li:first-child button {
    border-left:1px $colorSupportingGreyLight solid;
}
.js-fullscreen-slider__indicators li:nth-child(1) button {
    background: $colorSupportingWhite url('../assets/capital-markets.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators li:nth-child(2) button {
    background: $colorSupportingWhite url('../assets/energy.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators li:nth-child(3) button {
    background: $colorSupportingWhite url('../assets/financial-service.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators li:nth-child(4) button {
    background: $colorSupportingWhite url('../assets/industrials.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators li:nth-child(5) button {
    background: $colorSupportingWhite url('../assets/professional-service.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators li:nth-child(6) button {
    background: $colorSupportingWhite url('../assets/technology.svg') no-repeat center top 55px;
}

.js-fullscreen-slider__indicators button {
    padding-bottom: 44px;
}

.js-fullscreen-slider__indicators>li.slick-active button {
    background-color: $colorSupportingGreenLight;
}

.indicator__chart {
    position: relative;
    margin-left: auto;
    line-height: 16px;
    height: 16px;
    color: #fff;
    display: none;
}

.js-fullscreen-slider__indicators>li.slick-active .indicator__chart {
    display: block;
}

.js-indicator__container {
    width: 100%;
    width: 100%;
    display: flex;
}

@media screen and (max-width: $mobileFormatBig) {
    .fullscreen-slider__img {
        height: 700px;
    }

    .slider-spacer {
        height: 461px;
    }

    .entry-content .js-fullscreen-slider__indicators {
        padding: 0;
        flex-direction: column;
        margin-left: -20px;
    }

    .js-fullscreen-slider__indicators li,
    .js-fullscreen-slider__indicators button {
        min-height: 131px;
        background-position: left 20px center !important;
        background-size: 50px 50px !important;
        margin-bottom: 0;
        border-top: 0;
        justify-content: start;
        align-content: center;
    }

    .js-fullscreen-slider__indicators button {
        padding-left: 91px;
        padding-bottom: 10px;
    }

    .js-fullscreen-slider__indicators li::after {
        height: 79px;
        content: "";
        border: $colorSupportingGreyLight solid 1px;
        position: absolute;
        right: 79px;
        margin-top: 29px;
    }

    .js-fullscreen-slider__indicators li::before {
        content: "";
        width: 30px;
        height: 30px;
        background: url('../assets/right-chevron-dark.svg') no-repeat;
        margin-top: 60px;
        right: 5px;
        position: absolute;
        display: inline-block;
    }

    .js-indicator__container {
        display: none;
    }
}