.image-container--three .gb-layout-column-wrap {
    gap: 20px;
    justify-items: stretch;
}
.image-container--three .gb-block-layout-column {
    height: 100%;
}
.image-container--three .gb-block-layout-column-inner {
    height: 100%;
}
.image-container__img {
    height: 100%;
}
.image-container__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
