.last-third-block__text-and-link {
    padding-top: 60px;
    padding-bottom: 100px;
}

.last-third-block .gb-2-col-wideleft>.gb-layout-column-wrap {
    grid-template-columns: 5fr 3fr;
}

.last-third-block__header {
    padding-bottom: 80px;
    padding-top: 100px;
}

@media screen and (max-width: $mobileFormatBig) {
    .last-third-block__header {
        padding-bottom: 40px;
    }

    .last-third-block .gb-2-col-wideleft>.gb-layout-column-wrap {
        grid-template-columns: 1fr;
    }

    .image-container__column--quarter {
        display: none;
    }

    .last-third-block__text-and-link {
        padding-top: 0;
    }
}