.js-main-nav {
    height: 0;
    overflow-x: hidden;
    transition: 1s ease;
}

.navbar {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    transition: 0.5s linear;
    z-index: 11;
    position: absolute;
    z-index: 9999999999;
    width: 100vw;
}

@media screen and (max-width: $screenSizeSmall) {
    .navbar {
        padding: 32px 20px 32px 23px;
    }
}

.navbar.open {
    background-color: $colorSupportingWhite;
    transition: visibility 0s, opacity 0s linear;
    position: fixed;
    z-index: 9999999999;
    width: 100vw;
}

.js-navbar.open.highlight {
    background-color: $colorSupportingGreyLight;
}

.navbar__right {
    display: flex;
    gap: 40px;
    align-items: center;
}

x .navbar__break {
    border-left: 1px solid $colorSupportingGreyLight;
    height: 32px;
}

.navbar__link {
    vertical-align: -webkit-baseline-middle;
}

.js-navbar__close-icon {
    display: none;
}

.navbar.open .js-navbar__close-icon {
    display: block;
}

.navbar.open .navbar__burger-icon {
    display: none;
}

.js-navbar__logo--black {
    display: none;
}

.navbar.open .js-navbar__logo--black {
    display: block;
}

.navbar.open .js-navbar__logo--white {
    display: none;
}

.js-navbar__logo--green {
    display: none;
}

.main-nav {
    padding: 100px 40px;
    background-color: $colorSupportingWhite;
    display: grid;
    visibility: hidden;
    opacity: 0;
    height: 0;
    position: fixed;
    z-index: 999999;
    width: 100vw;
    grid-template-columns: calc(22.5% + 80px) 1fr;
}

.navbar.open+.js-main-nav {
    padding: 152px 40px 60px;
    height: 954px;
    opacity: 1;
    transition: visibility 0s,opacity, 0.5s, height 0.5s linear;
    visibility: visible;
}

@media screen and (max-width: $screenSizeSmall) {
    .navbar.open+.js-main-nav {
        height: 1160px;
        padding: 22px 20px 280px;
    }

}

.main-nav__list,
.sub-menu {
    display: flex;
    background-color: $colorSupportingWhite;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    min-height: 400px;
}

.sub-menu {
    display: none;
    padding-left: 9.2%;
    width: 100%;
    height: 480px;
}

.sub-menu li,
.sub-menu h3 {
    background-color: $colorSupportingWhite;
}

.js-sub-menu__title {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.375rem;
}

.main-nav__list .menu-item:first-child {
    margin-top: -20px;
}

.main-nav__container .menu-item {
    font-family: $fontMain;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0;
}

.main-nav__container .menu-item a {
    color: $colorPrimaryDark;
    font-weight: 500;
}

.main-nav__container .menu-item-has-children:hover {
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 24% center;
}

.sub-menu .menu-item-has-children:hover {
    background-position: left 20vw center;
}

.main-nav__container:hover .menu-item a {
    padding: 8px 0;
}

.main-nav__container:hover .menu-item a {
    color: $colorSupportingGreyDark;
}

@media screen and (min-width: $screenSizeSmall) {
    .main-nav__container .menu-item:hover>a {
        color: $colorPrimaryDark;
        text-decoration: none;
        border-bottom: solid 1px $colorPrimaryLight;
    }

    .main-nav__container .menu-item-has-children:hover>a {
        border-bottom: none;
    }

    .menu-item:hover .sub-menu {
        display: block;
        position: absolute;
        left: calc(21.3% + 120px);
        top: 151px;
    }
}

.js-sub-menu__title {
    font-size: 1.125rem;
}

.header__column-line {
    position: absolute;
    opacity: 0;
    height: 726px;
    border: $colorSupportingGreyLight solid 1px;
    top: 155px;
    left: 28.95%;
    transition: opacity 0.2s ease-in;
}

.header__column-line--second {
    left: 65.55%;
}

.main-nav__container .sub-menu .menu-item .sub-menu {
    display: none;
}

.main-nav__container .sub-menu .menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    left: 35vw;
    top: 0;
}

@media screen and (max-width: $screenSizeSmall) {

    .navbar__cta,
    .navbar__break {
        display: none;
    }

    .main-nav {
        grid-template-columns: 1fr;
    }

    .header__column-line {
        display: none;
    }

    .main-nav__container {
        height: max-content;
        padding-bottom: 28px;
        border-bottom: 2px solid $colorSupportingGreyLight;
        margin-bottom: 48px;
    }

    .main-nav__container .menu-item-has-children:hover {
        background-position: right center;
    }

    .main-nav__container .menu-item-has-children a {
        display: block;
    }

    .main-nav__container:hover .menu-item-has-children a {
        padding: 0;
    }

    .hide {
        z-index: -100;
    }

    .main-nav__list .sub-menu.show {
        display: block;
        padding: 0 20px;
        height: 100%;
        width: 100vw;
        position: fixed;
        /* Stay in place */
        z-index: 20;
        /* Sit on top */
        left: 0;
        top: 72px;
        background-color: $colorSupportingWhite;
        overflow-x: hidden;
        /* Disable horizontal scroll */
        transition: 0.5s;
    }

    .sub-menu__backlink {
        padding-bottom: 32px;
        padding-top: 44px;
        display: block;
        background-color: $colorSupportingGreyLight;
        width: 100vw;
        margin-left: -20px;
        padding-left: 20px;
        font-weight: 400;
        color: $colorPrimaryDark;
    }

    .main-nav__container .sub-menu .menu-item:hover .sub-menu {
        display: none;
    }

    .main-nav__container .sub-menu .menu-item .sub-menu.show {
        display: block;
    }

    .sub-menu .menu-item-has-children>a::after,
    .sub-menu .page_item_has_children>a::after {
        content: "";
    }


    .main-nav__container .sub-menu .menu-item:hover .sub-menu {
        left: 0;
    }
}