.js-main-nav {
    height: 0;
    overflow-x: hidden;
    transition: 1s ease;
}

.navbar {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    transition: 0.3s ease;
    z-index: 11;
    position: relative;
}

.navbar.open {
    background-color: $colorSupportingWhite;
    transition: 0.3s ease;
}

.navbar__right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar__break {
    border-left: 1px solid $colorSupportingGreyLight;
    height: 32px;
}

.navbar__link {
    vertical-align: -webkit-baseline-middle;
}

.js-navbar__close-icon {
    display: none;
}

.navbar__burger-icon {
    line-height: 1rem;
    transition: 0.5s ease;
}

.js-navbar__logo--black {
    display: none;
}

.main-nav {
    padding: 0 40px 0;
    background-color: $colorSupportingWhite;
    display: grid;
    grid-template-columns: calc(22.5% + 80px) 1fr;
}

.main-nav__list,
.sub-menu {
    display: flex;
    background-color: $colorSupportingWhite;
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: column;
    min-height: 400px;
}

.sub-menu {
    display: none;
    padding-left: 9.2%;
    width: 100%;
    height: 480px;
}

.sub-menu li,
.sub-menu h3 {
    background-color: $colorSupportingWhite;
}

.js-sub-menu__title {
    margin-bottom: 20px;
    line-height: 1.375rem;
}

.main-nav__list .menu-item:first-child {
    margin-top: -20px;
}

.main-nav__container .menu-item {
    font-family: $fontMain;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px 0;
}

.main-nav__container .menu-item a {
    color: $colorPrimaryDark;
    font-weight: 500;
}

.main-nav__container .menu-item-has-children:hover {
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-position: right 24% center;
}

.sub-menu .menu-item-has-children:hover {
    background-position: left 20vw center;
}

.main-nav__container:hover .menu-item a {
    padding: 8px 0;
}

.main-nav__container:hover .menu-item a {
    color: $colorSupportingGreyDark;
}

@media screen and (min-width: $screenSizeSmall) {
    .main-nav__container .menu-item:hover>a {
        color: $colorPrimaryDark;
        text-decoration: none;
        border-bottom: solid 1px $colorPrimaryLight;
    }

    .main-nav__container .menu-item-has-children:hover>a {
        border-bottom: none;
    }

    .menu-item:hover .sub-menu {
        display: block;
        position: absolute;
        left: calc(21.3% + 120px);
        top: 151px;
    }
}

.js-sub-menu__title {
    font-size: 1.125rem;
}

.header__column-line {
    position: absolute;
    opacity: 0;
    height: 545px;
    border: $colorSupportingGreyLight solid 1px;
    top: 155px;
    left: 28.95%;
    transition: opacity 0.2s ease-in;
}

.header__column-line--second {
    left: 65.55%;
}

.main-nav__container .sub-menu .menu-item .sub-menu {
    display: none;
}

.main-nav__container .sub-menu .menu-item:hover .sub-menu {
    display: block;
    position: absolute;
    left: 35vw;
    top: 0;
}

@media screen and (max-width: $screenSizeSmall) {
    .navbar__cta, 
    .navbar__break {
        display: none;
    }
    .main-nav {
        grid-template-columns: 1fr;
    }

    .header__column-line {
        display: none;
    }

    .main-nav__container {
        padding-bottom: 28px;
        margin-bottom: 48px;
        border-bottom: 2px solid $colorSupportingGreyLight;
    }

    .menu-item:hover .sub-menu {
        display: none;
        left: inherit;
        top: inherit;
    }

    .sub-menu {
        padding: 0;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 186px;
    }

    .main-nav__container .menu-item-has-children:hover {
        background-position: right center;
    }

    .main-nav__container .menu-item-has-children a {
        display: block;
    }

    .main-nav__container:hover .menu-item-has-children a {
        padding: 0;
    }
}