.js-service__container {
    background-color: $colorPrimaryDark;
    transition: background-color 900ms ease-out;
}

.service__toggle {
    border: 1px solid $colorSupportingWhite;
    width: 38px;
    height: 22px;
    background: transparent url('../assets/plus-white.svg') no-repeat center;
    border-radius: 30px;
    margin: 32px 0 32px auto;
}

.service__toggle.open {
    background: $colorPrimaryDark url('../assets/minus-white.svg') no-repeat center;
}

.service__name {
    font-size: 1.375rem;
    margin-bottom: 32px;
    color: $colorSupportingWhite;
}

.service__number {
    color: $colorSupportingWhite;
    opacity: 0.25;
}

.service__fraction {
    @include global-small;
    color: $colorSupportingWhite;
    opacity: 0.25;
}

.js-service__dropdown {
    height: auto;
    max-height: 0;
    transition: max-height 500ms linear;
    overflow: hidden;
}

/* OPEN */
.js-service__dropdown.open {
    max-height: 1300px;
}

.js-service__container.open {
    background-color: $colorSupportingWhite !important;
    transition: background-color 500ms linear;
    color: $colorPrimaryDark;
}

.js-service__container.open .service__name {
    color: $colorPrimaryDark;
}

.js-service__container.open .service__fraction {
    color: $colorFontsDark;
    opacity: 1;
}

.js-service__container.open .service__number {
    color: $colorFontsDark;
    opacity: 1;
}

.js-service__container.open h2.has-white-color {
    color: $colorFontsDark !important;
}

@media screen and (max-width: $mobileFormatBig) {
    .service__header>.gb-layout-column-wrap {
        grid-template-columns: 1fr 45px!important;
        grid-template-areas: "col1 col2"!important;
    }
}