.text-block--half {
    max-width: 489px;
}
.centered-text {
    margin: auto;
}
.centered-text--365 {
    max-width: 365px;
}
.centered-text--670 {
    max-width: 670px;
}
.centered-text--500 {
    margin: auto;
    max-width: 500px;
}
.centered-text--843 {
    max-width: 843px;
}
.max-400 {
    max-width: 400px;
}
