.value__container {
    border-left: 1px solid $colorSupportingGreyLight;
    padding: 0 40px;
}
@media screen and (max-width: $mobileFormatBig) {
    .value__container {
        margin-bottom: 40px;
    }
}
.value__icon {
    margin-bottom: 36px;
}
.value__title {
    margin-bottom: 24px;
    color: $colorFontsDark;
    @include global-title;
}
.value__separator {
    margin-top: 50px;
    margin-bottom: 60px;
}
.value__percentage {
    background-image: url('../assets/arrow-up.svg');
    background-repeat: no-repeat;
    background-position: top right;
}