/*
*   TOOLS
* Global mixins and functions
*/
@mixin box-size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

@mixin flex($direction: row, $break: nowrap, $alignWidth: center, $alignHeight: center) {
    display: flex;
    flex-flow: $direction $break;
    justify-content: $alignWidth;
    align-items: $alignHeight;
}

@mixin h4 {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: $colorFontsDark;
}

@mixin h4-mob {
    font-family: $fontSecondary;
    font-weight: 400;
    font-size: 1.375rem;
    line-height: 1.75rem;
}

@mixin global-title {
    font-family: $fontSecondary;
    font-size: 1.125rem;
    line-height: 1.625rem;
    font-weight: 400;
}

@mixin global-small {
    font-family: $fontMain;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

@mixin global-micro {
    font-family: $fontMain;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: -0.02em;
}

@mixin global-cta {
    font-family: $fontMain;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 500;
}

@mixin global-body {
    font-size: 1rem;
    font-family: $fontMain;
    line-height: 1.375rem;
    font-weight: 400;
}