//Lime green
.has-lime-green-background-color {
    background: $colorPrimaryLight;
}
.has-lime-green-color {
    color: $colorPrimaryLight;
}

//Dark Green
.has-dark-green-background-color {
    background: $colorPrimaryDark;
}
.has-dark-green-color {
    color: $colorPrimaryDark;
}

//Jade
.jade-background-color {
    background: $colorSupportingGreenLight;
}
.has-jade-color {
    color: $colorSupportingGreenLight;
}

//Violet
.has-violet-background-color {
    background: $colorSecondaryTwo;
}

.has-violet-color {
    color: $colorSecondaryTwo;
}

//Crimson
.has-crimson-background-color {
    background: $colorSecondaryThree;
}

.has-crimson-color {
    color: $colorSecondaryThree;
}

//Peach
.has-peach-background-color {
    background: $colorSecondaryFour;
}

.has-peach-color {
    color: $colorSecondaryFour;
}

//Black
.has-black-background-color {
    background: $colorSupportingBlack;
}

.has-black-color {
    color: $colorSupportingBlack;
}

//Dark Grey
.has-dark-grey-background-color {
    background: $colorSupportingGreyDark;
}

.has-dark-grey-color {
    color: $colorSupportingGreyDark;
}

//Light Grey
.has-light-grey-background-color {
    background: $colorSupportingGreyLight;
}

.has-light-grey-color {
    color: $colorSupportingGreyLight;
}

//White
.has-white-background-color {
    background: $colorSupportingWhite;
}

.has-white-grey-color {
    color: $colorSupportingWhite;
}