.p-75{
    padding: 75px;
}
.pr-32 {
    padding-right: 32px;
}
@media screen and (max-width: $mobileFormatBig) {
    .mob-p-0 {
        padding: 0;
    }
    .mob-px-24 {
        padding-left: 24px;
        padding-right: 24px;
    }
    .mob-pt-100 {
        padding-top: 100px;
    }
    .mob-pb-60 {
        padding-bottom: 60px;
    }
}
.my-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}
